.card {
    width: 240px;
    position: relative;
}

.card .cabecalho {
    border-radius: 10px 10px 0px 0px;

}
.card img {
    width: 100px;
    border-radius: 8%;
    position: relative;
    bottom: -50px;
}

.card .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.card .rodape h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 30px;
}

.card .rodape h5 {
    font-size: 15px;
    line-height: 22px;
    color: #212121;
}

.card .deletar {
    position: absolute;
    right: -10px;
    top: -10px;
}

.card .favoritar {
    position: relative;
    right: 0px;
    top: 50px;
}