.formulario {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 100px;
}

.formulario form {
    position: relative;
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 10px;
    border-bottom: 4px solid;
    border-color: #7A96F6;
    padding: 36px 70px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
}

.formulario h2 {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #7A96F6;
    border-bottom: 4px solid;
    border-color: #7A96F6;
    display: inline-block;
    padding-bottom: 8px;
    margin-top: 4px;
}

.formulario .campo-cor {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.campo-cor .campo {
    width: 100%;
}

.formulario .campo-cor .campo-color {
    width: 90px;
}